/* Man chan */
.manChanAll{
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #000;
	filter: opacity(0.7);
	z-index: 100;
}



/* tab myinfo */
.myinfomation{
	position: fixed;
	top: 0px;
	width: 965px;
	height: 590px;
	border: 1px #00a1f2 solid;
	background-color: #504768;
	z-index: 100;
	margin: 58px 70px;
	border-radius: 8px;
	display: none;
}
.infoleft{
	position: absolute;
	height: 100%;
	width: 400px;
	top: 0px;
	left: 0px;
	background-color: #F172A1;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.hisright{
	position: absolute;
	height: 100%;
	width: 565px;
	background-color: crimson;
	right: 0px;
	top: 0px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}
.avttop{
	position: absolute;
	width: 300px;
	height: 300px;
	background-color: darkcyan;
	border-radius: 50%;
	top: 20px;
	left: 50px;
	background-image: url(../img/vic1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.infobottom{
	position: absolute;
	width: 400px;
	height: 250px;
	background-color: darkorchid;
	bottom: 0px;
	left: 0px;
	border-bottom-left-radius: 8px;
}

.myhis{
	position: absolute;
	top: 40px;
	right: 50px;
}

.exit{
	font-size: 24px;
	position: absolute;
	right: 2px;
	top: 0px;
	border-top-right-radius: 8px;
}



/* form đăng bài */
.createtus{
    position: fixed;
    top: 0px;
    left: 280px;
	width: 500px;
	height: 590px;
	border: 1px #00a1f2 solid;
	background-color: #eeeeee;
	z-index: 1000;
	margin: 58px 70px;
	border-radius: 8px;
	display: none;


}
.whead{
	width: 500px;
	border: none;
}
.mytus{
    position: absolute;
    top: 42px;
    width: 499px;
    height: 100px;
    border: black 1px solid;
}
.myimage{
    position: absolute;
	top: 142px;
	/* width: 499px;
	height: 282px; */
    max-width: 499px;
	max-height: 282px;
	border: none;
	text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 100;
	overflow: hidden;
	color: black;
}
.preview{
    width: 499px;
	height: 282px;
	object-position: center center;
	-o-object-position: center center;
	object-fit: cover;
	-o-object-fit: cover;
	/* border: blue 3px solid; */
}
.customupanh{
	position: absolute;
	overflow: hidden;
	background-color: #FCFBFB;
	height: 110px;
	width: 110px;
	text-align: center;
	border: 2px gray dashed;
	top: 220px;
	left: 180px;
}
.fakeicon{
	margin-left: -30px;
	position: absolute;
	font-size: 100px;
	font-weight: bold;
	font-family: arial;
	color: #F172A1;
}
.themanh{
	position: absolute;
	margin-left: 3px;
	margin-top: 90px;
	font-size: 20px;
	font-weight: bold;
	font-family: arial;
	color: #585858;
}
.upanh{
    width: 110px;
    height: 110px;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	text-align: center;
}



/* thư viện tus */
.libralytus{
	position: relative;
	width: 500px;
	height: 120px;
	background-color: blueviolet;
	top: 430px;
}

.danganhlen{
	position: absolute;
	width: 500px;
	height: 40px;
	background-color: chocolate;
	bottom: 0px;
	border: none;
	outline: none;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}